.root3 {
  color: white;
  background-color: rgb(36, 35, 35);
  height: 67rem;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.up-part {
  display: flex;
  align-items: center;
}

.ver-part {
  height: 17rem;          
  display: flex;
  align-items: center;
}

.ver-inner {
  font-size: 7rem;
  transform: rotate(90deg) translateY(-100%) translateX(10%);
  transform-origin: left top;
  white-space: nowrap;
  color: greenyellow;
  
}

.ver-inner p {
  margin: 0;           
}

.hor-inner {
  font-size: 8rem;
}

.img-mid-root {
  width: 100%;
  background-color: rgb(47, 47, 49);
  display: flex;
  justify-content: center;
}

.img-div {
  overflow: hidden;
  gap: 2px;
}

.img-div img{
  width: 320px;
    filter: grayscale(100%) brightness(0.6);
  transition: 
    filter 0.4s ease,
    box-shadow 0.4s ease,
    transform 0.4s ease;

  gap: 2px;
}

.img-div img:hover {
  /* restore original */
  filter: grayscale(0%) brightness(1);
  z-index: 4;

  /* glow */
  box-shadow: 
    0 0 20px rgba(173, 255, 47, 0.6),
    0 0 40px rgba(173, 255, 47, 0.4);

  transform: scale(1.03);
}

.img-div {
  display: flex;
  gap: 2rem;
}

.img-card {
  position: relative;
  width: 280px;
  height: 380px;
  overflow: hidden;
}

.img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: grayscale(100%) brightness(0.6);
  transition: filter 0.4s ease;
}

/* TEXT OVER IMAGE */
.img-text {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  writing-mode: vertical-rl;
  text-orientation: upright;

  font-size: 1.4rem;
  letter-spacing: 0.25rem;
  color: white;
  font-weight: 700;

  pointer-events: none;
  text-shadow: 0 0 8px rgba(0,0,0,0.8);
}

/* HOVER EFFECT */
.img-card:hover img {
  filter: grayscale(0%) brightness(1);
}
